<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Online Authenticated Audio</title>
    <style media="screen">
      body{
        padding-top: 70px;
      }
      .adminBtn{
        transform: translateY(50%);
      }
    </style>
  </head>
  <body ng-app="page" ng-controller="body">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">{{website_title}}</a>
        </div>
        <ul class="nav navbar-nav">
          <li ng-if="loggedIn == false"><a href="#" id="lgin">Login</a></li>
          <li ng-if="loggedIn == false"><span style="position:fixed;transform: translateY(50%)"><input name="rememberMe" type="checkbox" ng-change="fbSetPersistence(rememberMe)" ng-model="rememberMe"><label for="rememberMe">Remember me</label></span></li>
          <li ng-if="loggedIn == true"><a href="#" id="lgout">Log out</a></li>
          <li ng-if="currentUser.priv == 'Admin'"><button class="adminBtn" ng-model="button" ng-disabled="view=='addAudio'" ng-click="setView('addAudio')">Add audio</button></li>
          <li ng-if="currentUser.priv == 'Admin'"><button class="adminBtn" ng-model="button" ng-disabled="view=='previewFiles'" ng-click="setView('previewFiles')">Audio files</button></li>
          <li ng-if="currentUser.priv == 'Admin'"><button class="adminBtn" ng-model="button" ng-disabled="view=='editUsers'" ng-click="setView('editUsers')">Edit users</button></li>
        </ul>
      </div>
    </nav>
    <div>
      <div id="adminPanel" ng-if="currentUser.priv=='Admin'">
        <div id="audioPanel" ng-if="view=='addAudio'">
          <input type="file"><br>
          <audio id="audioPreview" controls></audio>
          <button ng-click="addAudio()">Add audio</button>
        </div>
        <div id="userPanel" ng-if="view=='editUsers'">
          <div class="admin-user-settings admin-user-account">
            <span>Owner:</span><br>
            <span>Name: {{currentUser.name}}</span><br>
            <span>UID: {{currentUser.uid}}</span>
          </div>
          <div class="admin-user-settings" ng-repeat="user in users">
            <span>User: <button ng-click="addUser(user.uid)" ng-disabled="user.priv == 'User' || user.priv == 'Admin'">Allow file access</button><button ng-click="remUser(user.uid)" ng-disabled="user.priv == 'None'">Remove file access</button></span><br>
            <span>Name: {{user.name}}</span><br>
            <span>UID: {{user.uid}}</span><br>
            <span>Privilege level: {{user.priv}}</span>
          </div>
        </div>
      </div>
      <div id="audioFiles" ng-if="(currentUser.priv=='Admin' && view=='previewFiles') || currentUser.priv=='User'">
        <span ng-repeat="audioFile in audioFiles">
          <span id="{{audioFile.index}}">{{audioFile.name}} <a id="{{audioFile.index}}-generator" ng-click="downloadFile(audioFile.index)" href="#">Generate file</a></span><br>
        </span>
      </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDha6Rn-nV8NFyY66Z4AIjXp2nA3exCEcQ",
        authDomain: "onlineaudioauth.firebaseapp.com",
        databaseURL: "https://onlineaudioauth.firebaseio.com",
        projectId: "onlineaudioauth",
        storageBucket: "onlineaudioauth.appspot.com",
        messagingSenderId: "999263265344"
      };
      firebase.initializeApp(config);
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js" charset="utf-8"></script>
    <script src="https://code.angularjs.org/1.6.9/angular-animate.js" charset="utf-8"></script>
    <script src="./js/main.js" charset="utf-8"></script>
  </body>
</html>
